/* line 6, /Users/asonas/go/src/github.com/kosendj/bu.in/source/stylesheets/all.scss */
.clickable {
  cursor: pointer; }

/* line 10, /Users/asonas/go/src/github.com/kosendj/bu.in/source/stylesheets/all.scss */
img.animation {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s; }

@media (min-width: 765px) {
  /* line 16, /Users/asonas/go/src/github.com/kosendj/bu.in/source/stylesheets/all.scss */
  .welcome {
    padding-top: 30px; }
    /* line 19, /Users/asonas/go/src/github.com/kosendj/bu.in/source/stylesheets/all.scss */
    .welcome .description {
      padding-top: 100px; } }
@media (max-width: 990px) {
  /* line 27, /Users/asonas/go/src/github.com/kosendj/bu.in/source/stylesheets/all.scss */
  .welcome .description {
    padding: 0 !important; }

  /* line 32, /Users/asonas/go/src/github.com/kosendj/bu.in/source/stylesheets/all.scss */
  .access {
    background-image: none !important;
    background-color: #a3a9ac; }

  /* line 37, /Users/asonas/go/src/github.com/kosendj/bu.in/source/stylesheets/all.scss */
  .timetable {
    background-image: none !important; }

  /* line 42, /Users/asonas/go/src/github.com/kosendj/bu.in/source/stylesheets/all.scss */
  .footer .links {
    border-bottom: 1px solid #49535b; }
    /* line 45, /Users/asonas/go/src/github.com/kosendj/bu.in/source/stylesheets/all.scss */
    .footer .links span {
      padding: 0 8px;
      border-left: 1px solid #49535b;
      font-size: 9px; }
      /* line 50, /Users/asonas/go/src/github.com/kosendj/bu.in/source/stylesheets/all.scss */
      .footer .links span a {
        color: #49535b; } }
/* line 58, /Users/asonas/go/src/github.com/kosendj/bu.in/source/stylesheets/all.scss */
.members {
  position: relative; }
  /* line 61, /Users/asonas/go/src/github.com/kosendj/bu.in/source/stylesheets/all.scss */
  .members .rug {
    position: absolute;
    top: 0;
    background-color: rgba(100, 100, 100, 0.3);
    width: 100%;
    height: 100%;
    z-index: 50; }

@media (min-width: 951px) {
  /* line 74, /Users/asonas/go/src/github.com/kosendj/bu.in/source/stylesheets/all.scss */
  .members .inner .panel {
    top: -20px;
    left: -115px;
    width: 900px;
    height: 400px; }
    /* line 80, /Users/asonas/go/src/github.com/kosendj/bu.in/source/stylesheets/all.scss */
    .members .inner .panel .profile {
      padding-top: 30px;
      margin-left: 430px;
      min-height: 340px; }
    /* line 86, /Users/asonas/go/src/github.com/kosendj/bu.in/source/stylesheets/all.scss */
    .members .inner .panel .icon {
      float: left; }
      /* line 89, /Users/asonas/go/src/github.com/kosendj/bu.in/source/stylesheets/all.scss */
      .members .inner .panel .icon img {
        width: 400px; }

  /* line 97, /Users/asonas/go/src/github.com/kosendj/bu.in/source/stylesheets/all.scss */
  .logo {
    text-align: right; }

  /* line 102, /Users/asonas/go/src/github.com/kosendj/bu.in/source/stylesheets/all.scss */
  .footer .links {
    border-bottom: 1px solid #49535b; }
    /* line 105, /Users/asonas/go/src/github.com/kosendj/bu.in/source/stylesheets/all.scss */
    .footer .links span {
      padding: 0 15px;
      border-left: 1px solid #49535b;
      font-size: 20px;
      font-weight: 100;
      letter-spacing: 0.2em; }
      /* line 112, /Users/asonas/go/src/github.com/kosendj/bu.in/source/stylesheets/all.scss */
      .footer .links span a {
        color: #49535b; } }
@media (max-width: 950px) {
  /* line 124, /Users/asonas/go/src/github.com/kosendj/bu.in/source/stylesheets/all.scss */
  .members .inner .panel {
    width: 85%;
    top: 10%;
    left: 8%; }
    /* line 129, /Users/asonas/go/src/github.com/kosendj/bu.in/source/stylesheets/all.scss */
    .members .inner .panel .profile {
      padding-top: 10px;
      margin: 0 5px;
      min-height: 140px; }
    /* line 136, /Users/asonas/go/src/github.com/kosendj/bu.in/source/stylesheets/all.scss */
    .members .inner .panel .icon img {
      width: 100%; }

  /* line 144, /Users/asonas/go/src/github.com/kosendj/bu.in/source/stylesheets/all.scss */
  .logo {
    text-align: center; } }
/* line 150, /Users/asonas/go/src/github.com/kosendj/bu.in/source/stylesheets/all.scss */
.welcome {
  padding-bottom: 70px;
  background-color: #fff;
  background-image: url("/images/background_1.png");
  background-size: 1300px 545px;
  background-repeat: no-repeat;
  background-position: left top;
  max-height: 545px;
  color: #48525b; }
  /* line 161, /Users/asonas/go/src/github.com/kosendj/bu.in/source/stylesheets/all.scss */
  .welcome .logo img {
    padding-top: 10px;
    width: 100%;
    max-width: 400px;
    text-align: center; }
  /* line 169, /Users/asonas/go/src/github.com/kosendj/bu.in/source/stylesheets/all.scss */
  .welcome .description {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 18px; }
    /* line 174, /Users/asonas/go/src/github.com/kosendj/bu.in/source/stylesheets/all.scss */
    .welcome .description h1 {
      font-size: 46px;
      font-weight: 400; }

/* line 184, /Users/asonas/go/src/github.com/kosendj/bu.in/source/stylesheets/all.scss */
.access h2, .access h3,
.timetable h2,
.timetable h3,
.members h2,
.members h3 {
  padding-bottom: 50px;
  text-align: center;
  font-weight: 100;
  letter-spacing: 0.100em;
  font-color: #49535b; }
/* line 192, /Users/asonas/go/src/github.com/kosendj/bu.in/source/stylesheets/all.scss */
.access h3,
.timetable h3,
.members h3 {
  padding-bottom: 0; }

/* line 197, /Users/asonas/go/src/github.com/kosendj/bu.in/source/stylesheets/all.scss */
.access {
  position: relative;
  padding: 0px 0 58px;
  background-image: url("/images/background_2.png");
  background-size: 3500px 416px;
  background-repeat: no-repeat;
  background-position: left top;
  color: #000; }
  /* line 206, /Users/asonas/go/src/github.com/kosendj/bu.in/source/stylesheets/all.scss */
  .access h2 {
    color: #fff; }
  /* line 210, /Users/asonas/go/src/github.com/kosendj/bu.in/source/stylesheets/all.scss */
  .access .information {
    font-size: 20px; }
    /* line 213, /Users/asonas/go/src/github.com/kosendj/bu.in/source/stylesheets/all.scss */
    .access .information p.link {
      padding: 20px 0 0; }
      /* line 216, /Users/asonas/go/src/github.com/kosendj/bu.in/source/stylesheets/all.scss */
      .access .information p.link a {
        color: #000;
        text-decoration: underline; }
  /* line 223, /Users/asonas/go/src/github.com/kosendj/bu.in/source/stylesheets/all.scss */
  .access .map {
    position: relative; }
    /* line 226, /Users/asonas/go/src/github.com/kosendj/bu.in/source/stylesheets/all.scss */
    .access .map .cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 300px; }

/* line 236, /Users/asonas/go/src/github.com/kosendj/bu.in/source/stylesheets/all.scss */
.timetable {
  background-image: url("/images/background_3.png");
  background-size: 1736px 677px;
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 50px;
  padding-bottom: 105px; }
  /* line 244, /Users/asonas/go/src/github.com/kosendj/bu.in/source/stylesheets/all.scss */
  .timetable .table {
    max-width: 600px;
    margin: 0 auto; }
    /* line 248, /Users/asonas/go/src/github.com/kosendj/bu.in/source/stylesheets/all.scss */
    .timetable .table tr:nth-child(1n) {
      background-color: #d8dbdb; }
    /* line 252, /Users/asonas/go/src/github.com/kosendj/bu.in/source/stylesheets/all.scss */
    .timetable .table tr:nth-child(2n) {
      background-color: #fff; }
    /* line 256, /Users/asonas/go/src/github.com/kosendj/bu.in/source/stylesheets/all.scss */
    .timetable .table .time {
      text-align: center; }

/* line 262, /Users/asonas/go/src/github.com/kosendj/bu.in/source/stylesheets/all.scss */
.members {
  padding-top: 50px;
  padding-bottom: 10px;
  background-color: #49535b;
  color: #fff; }
  /* line 268, /Users/asonas/go/src/github.com/kosendj/bu.in/source/stylesheets/all.scss */
  .members .inner {
    position: relative;
    max-width: 670px;
    margin: 0 auto; }
    /* line 273, /Users/asonas/go/src/github.com/kosendj/bu.in/source/stylesheets/all.scss */
    .members .inner h2 {
      font-color: #fff; }
    /* line 277, /Users/asonas/go/src/github.com/kosendj/bu.in/source/stylesheets/all.scss */
    .members .inner ul {
      padding-left: 0;
      list-style: none; }
      /* line 281, /Users/asonas/go/src/github.com/kosendj/bu.in/source/stylesheets/all.scss */
      .members .inner ul li.member {
        position: relative;
        text-align: center;
        margin-bottom: 40px;
        min-height: 200px; }
        /* line 287, /Users/asonas/go/src/github.com/kosendj/bu.in/source/stylesheets/all.scss */
        .members .inner ul li.member .image-cutter {
          position: absolute;
          top: 50%;
          left: 50%;
          border-radius: 50%;
          width: 170px;
          background-color: #49555B; }
        /* line 297, /Users/asonas/go/src/github.com/kosendj/bu.in/source/stylesheets/all.scss */
        .members .inner ul li.member img {
          width: 172px; }
    /* line 303, /Users/asonas/go/src/github.com/kosendj/bu.in/source/stylesheets/all.scss */
    .members .inner .panel {
      position: absolute;
      border-radius: 0;
      border: none;
      z-index: 100;
      box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.5);
      color: #49535b; }
      /* line 311, /Users/asonas/go/src/github.com/kosendj/bu.in/source/stylesheets/all.scss */
      .members .inner .panel .close {
        position: absolute;
        top: -50px;
        right: 0; }
        /* line 316, /Users/asonas/go/src/github.com/kosendj/bu.in/source/stylesheets/all.scss */
        .members .inner .panel .close i {
          font-size: 50px;
          color: #000; }
      /* line 326, /Users/asonas/go/src/github.com/kosendj/bu.in/source/stylesheets/all.scss */
      .members .inner .panel .services {
        text-align: right;
        margin-right: 20px;
        margin-bottom: 15px; }
        /* line 331, /Users/asonas/go/src/github.com/kosendj/bu.in/source/stylesheets/all.scss */
        .members .inner .panel .services .service {
          margin-right: 10px; }
          /* line 334, /Users/asonas/go/src/github.com/kosendj/bu.in/source/stylesheets/all.scss */
          .members .inner .panel .services .service img {
            width: 32px; }

/* line 343, /Users/asonas/go/src/github.com/kosendj/bu.in/source/stylesheets/all.scss */
.footer {
  padding-top: 150px;
  padding-bottom: 40px;
  background-image: url("/images/background_4.png");
  background-size: 2418px 708px;
  background-repeat: no-repeat;
  background-position: left bottom; }

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0; }
  50% {
    -webkit-transform: scale(0);
    opacity: 0; }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1; }
  to {
    -webkit-transform: scale(1); } }
